evaluate
Requests
scipy
selenium
transformers
openai
langchain
huggingface_hub==0.17
tiktoken
unstructured
unstructured[pdf]
unstructured[docx]
openpyxl
pandas
nltk
networkx
unstructured[md]
rouge-score
